@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';

:root {
    --subnautica-neon : #8DE3FF;
    --subnautica-blue : #38A9FF;
}

body {
    margin: 0;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: subnautica-font;
    src: url("../fonts/DaysOne-Regular.ttf");
}

.canvas-container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: block;
    container: relative;
    cursor: initial;
    background-color: black;
}

.fire-effect {
    width: 5px;
    height: 5px;
    background-color: yellow;
    position: absolute;
}

.menu-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 100;
    top: 0;
    left: 0;
}

.menu-option-container {
    height: 4em;
    width: 100%;
    display: flex;
    cursor: pointer;
}

.menu-option-circle-container {
    display: flex;
    justify-content: flex-end;
}

.menu-option-circle-outer {
    display: flex;
    border: 2px solid var(--subnautica-neon);
    border-radius: 100px;
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(56,169,255,1) 100%);
    /*background: var(--subnautica-blue);*/
    width: 4em;
    height: 4em;
    justify-content: center;
    align-items: center;
}

.menu-option-circle-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--subnautica-neon);
    border-radius: 100px;
    background: #00000000;
    width: 3.60em;
    height: 3.60em;
    position: relative;
}

.menu-option-container:hover .menu-option-box {
    left: 1em;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-option-circle-inner::after {
    display: block;
    background: yellow;
    border: 1px solid orange;
    width: 0%;
    height: 0%;
    content: '';
    border-radius: 100px;
    filter: blur(3px);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-option-container:hover .menu-option-circle-inner::after {
    display: block;
    background: yellow;
    border: 1px solid orange;
    width: 90%;
    height: 90%;
    content: '';
    border-radius: 100px;
    filter: blur(3px);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.left-side-of-menu {
    display: flex;
    padding: 10em 0;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-option-box-container {
    height: 4em;
    width: 100%;
}

.menu-option-box {
    top: -3px;
    left: -10px;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-option-separator {
    height: 15px;
    display: block;
}

.menu-option-box-texture {
    background-image: url("../img/textures/menu_option.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2em;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    background-position-y: 3px;
    text-shadow: 2px 1px 3px black;
}

.subnautica-font {
    font-family: subnautica-font;
}